@import './variables';
@import './mixins';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Bitter", serif;
  overflow: hidden; 
}

.content {
  position: absolute;
  top: $header-height;
  left: $sidebar-width;

  width: calc(100vw - $sidebar-width);
  height: calc(100vh - $header-height);

  padding: 24px;
  background: $bg;

  overflow-y: auto;
  transition: left 0.3s ease, width 0.3s ease;
}

.sidebar.collapsed ~ .content {
  left: 0;
  width: 100vw;
}

.welcome {
  text-align: center;
  margin-bottom: 24px;
}
